<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/dashb-background.jpg');">
        <div class="filter"></div>
    </div>
    <br>
    <hr>
    <br>
        
    <div class="ui centered stackable two column grid">
        <div class="column"> 
            <div class="ui segment ">
                <img src="{{'http://localhost:7860/public/posts/'+post.postUrl}}" height="550px" width="660px" alt="No Image ">
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <textarea></textarea>
            </div>
        </div>
    </div>

</div>
