
    <br><br><br>
<div class="container py-5 px-4" *ngIf="post">
    <div id="component" class="row rounded-lg overflow-hidden shadow">
      <!-- Users box-->
      <div class="col-5 px-0">
        <div class="bg-white">
          <div class="bg-gray px-4 py-2 bg-light">
            <p class="h5 mb-0 py-1"> <img class="ui avatar image" src="{{'http://localhost:7860/public/profile image/'+post.authorimage}}" ><span>{{post.author}}</span></p>
          </div>
          <div class="messages-box">
            <div class="list-group rounded-0">
 
              
              <a href="#" class="list-group-item list-group-item-action list-group-item-light rounded-0" *ngFor="let comment of commentList">
                <div class="media"><img src="{{'http://localhost:7860/public/profile image/'+comment.authorimage}}" alt="user" width="50" class="rounded-circle">
                  <div class="media-body ml-4">
                    <div class="d-flex align-items-center justify-content-between mb-1">
                      <h6 class="mb-0">{{comment.author}}</h6><small class="small font-weight-bold"></small>
                    </div>
                    <p class="font-italic text-muted mb-0 text-small">{{comment.comment}}</p>
                  </div>
                </div>
              </a>
              
  
  
              
            </div>
           
          </div>
          <form action="#" class="bg-light">
            <div class="input-group">
              <input type="text" [(ngModel)]="commentmsg" name="comment" placeholder="Comment here..." aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light">
              <div class="input-group-append">
                <button id="button-addon2" (click)="comment(post._id)" type="submit" class="btn btn-link"> <i class="fa fa-paper-plane"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
      
      <div class="col-7 px-0">
        <i class="far fa-flag fa-3x" id="report" (click)="report(post._id)"  rel="tooltip" title="report"></i>
        <img class="post" src="{{'http://localhost:7860/public/posts/'+post.postUrl}}">
  
      </div>
    </div>
  </div>
