
<nav class="navbar navbar-expand-lg fixed-top " color-on-scroll="500" >
    <div class="container" >
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >BeSocial</a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>    
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler" >
            <ul class="navbar-nav ml-auto" >
                
                <li class="nav-item" [hidden]=!status>
                    <a class="nav-link" rel="tooltip" title="Users" data-placement="bottom" [routerLink]="['/users']" routerLinkActive="router-link-active"  >
                        <i class="fas fa-users fa-5x"></i>
                        <p class="d-lg-none"> Users</p>
                    </a>
                </li>
                <li class="nav-item" [hidden]=!status >
                    <a class="nav-link" rel="tooltip" title="Add Post" data-placement="bottom" [routerLink]="['/addpost']" routerLinkActive="router-link-active"  >
                        <i class="fas fa-plus"></i>
                        <p class="d-lg-none"> Add Post</p>
                    </a>
                </li>
                <li class="nav-item" [hidden]=!status>
                    <a class="nav-link" rel="tooltip" title="Activity" data-placement="bottom" [routerLink]="['/activity']" routerLinkActive="router-link-active" >
                        <i class="fas fa-heart"></i>
                        <p class="d-lg-none"> Activity</p>
                    </a>
                </li>
                <li class="nav-item" [hidden]=!status >
                    <a class="nav-link" rel="tooltip" title="Chats" data-placement="bottom"  [routerLink]="['/chat']" routerLinkActive="router-link-active"  target="_blank">
                        <i class="far fa-envelope"></i>
                        <p class="d-lg-none"> Chats</p>
                    </a>
                </li>
                <li class="nav-item" [hidden]=!status>
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom" [routerLink]="['/profile']" routerLinkActive="router-link-active" >
                        <img class="ui avatar image" src="{{'http://localhost:7860/public/profile image/'+currentUser.img}}">
                        <span> {{currentUser.username}} </span>
                    </a>
                </li>
                <li   class="nav-item" (click)="logout()" [hidden]=!status >
                    <a class="nav-link" rel="tooltip" title="Logout" data-placement="bottom" target="_blank">
                        <i class="fas fa-sign-out-alt"></i>
                        <p class="d-lg-none"> Logout</p>
                    </a>
                </li>
            
                <li class="nav-item">
                    <div class=" input-group" id="search" data-placement="bottom" >
                        <div class="ui small icon input">
                            <input type="text" [(ngModel)]="searchText" name="search" placeholder="Username...">
                            <i class="inverted circular search link icon"></i>
                        </div>
                    </div>
                    <div class="contacts_body" *ngIf="!searchText == '' "  class="usernameSearch">
                       <ul class="contacts">
                        <li  *ngFor="let user of userinfo | username : searchText"  class="" >
                        
                            <div (click)="clear()" class="d-flex bd-highlight" [routerLink]="['/profile', user.username]"
                            routerLinkActive="router-link-active" >
                                <div class="img_cont">
                                    <img src="{{'http://localhost:7860/public/profile image/'+user.img}}" class="rounded-circle user_img">
                                    <span class=""></span>
                                </div>
                                <div class="user_info">
                                    <span>{{user.username}}</span>
                                    <p>{{user.name}}</p>
                                </div>
                            </div>
                            </li>
                       </ul>
                    </div>
                </li>
                
            </ul>
        </div>
    </div>
</nav>

