<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/dashb-background.jpg');">
        <div class="filter"></div>
    </div>
    <br>
    <hr>
    <br>
    <div  class="ui raised very padded text container segment" *ngFor="let user of users" >
        <table >
            <tr>
                <td rowspan="2">
                   
                        <img  class="ui tiny avatar image"src="{{'http://localhost:7860/public/profile image/'+user.img}}" alt="Circle Image" >
                  
                </td>
                <td class="uname">
                    &nbsp;{{user.username}} 
                </td>
            </tr>
            <tr>
                <td class="uname">
                  &nbsp;{{user.name}}
                </td>
            </tr>
            
        </table>
        <div  class="ui right floated" >
       

        <button class="ui right floated blue button" *ngIf=" currentuser.followRequestSent.indexOf(user.username) === -1"  (click)="follow(user._id)">Follow</button>
        <button class="ui right floated blue button" *ngIf=" currentuser.followRequestSent.indexOf(user.username) != -1">Requested</button>

        </div>
       
         
           
  </div>

  <!-- <div  class="ui raised very padded text container segment" *ngFor="let user of currentuser.followingList" >
    <table >
        <tr>
            <td rowspan="2">
               
                    <img  class="ui tiny avatar image"src="{{'http://localhost:7860/public/profile image/'+user.img}}" alt="Circle Image" >
              
            </td>
            <td class="uname">
                &nbsp;{{user.username}} 
            </td>
        </tr>
        <tr>
            <td class="uname">
              &nbsp;{{user.name}}
            </td>
        </tr>
        
    </table>
    <div  class="ui right floated" >
   
        <button class="ui right floated blue button">Following</button>
   
    </div>
    
   

    
        
       
</div>  -->
</div>

<!--<div class="center" >

             
            <div class="ui segment" *ngFor="let user of users" >
               
                    <div >  
                        <img class="ui small avatar image" src="{{'http://localhost:7860/public/profile image/'+user.img}}">
                        
                        <span class="uname">{{user.username}} <br> &nbsp;&nbsp; {{user.name}}</span>
                        
                    </div>
               
                <button class="ui right floated blue button">Follow</button>
                
                
            </div>
        </div> -->