<div class="wrapper">
    <div class="page-header" style="background-image: url('https://i.redd.it/o8dlfk93azs31.jpg');">
        

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-12">
            <a>
                <i class="fa fa-times-circle-o" aria-hidden="true"></i>
            </a>
     <b>  <h1 class="text-center">Add Post</h1> </b>>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-lg-6">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="URL">
            </div>
        </div>

        <div class="col-lg-2">
            <button type="button" class="btn btn-primary">
                Choose A File
            </button>
            
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        

        <div class="col-lg-8">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Write a Caption" style="height: 150px;">
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <button type="button" class="btn btn-danger">
            Tag People
        </button>        
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-2">
            <input type="submit" class="form-control btn-success" value="Post">
    </div>
    </div>
</div>

