<div class="wrapper" *ngIf="usersdata">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="{{'http://localhost:7860/public/profile image/'+usersdata.img}}" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h3 class="title"><b style="font-size:x-large;text-transform: capitalize;">{{usersdata.name}} </b>({{usersdata.username}})</h3>
                    <!-- <h4 class="title">{{usersdata.username}}<br /></h4> -->
                    <h6 class="description"><b style="font-size:large;text-transform: capitalize;">{{usersdata.profession}}</b></h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>{{usersdata.bio}}</p>
                    <br />
                </div>
            </div> 
            <br/>
        <div class="text-center">
            <div>
                <span><button [ngClass]=" followersclick ? 'ui red button' : 'ui basic red button'" (click)="toogleFollow()"><b>{{usersdata.followers}}</b> &nbsp;&nbsp; Followers  </button></span><span><button [ngClass]=" followingclick ? 'ui red button' : 'ui basic red button'" (click)="toogleFollowing()"><b>{{usersdata.following }}</b> &nbsp;&nbsp; Following</button><button [routerLink]="['/edit', usersdata.username]"
                routerLinkActive="router-link-active" class="ui teal button">Edit Profile</button></span>
            </div>
            <div [hidden]="toogleProp"><br>
                <div class="row following" id="follows">
                    <div class="col-md-6 ml-auto mr-auto" style="height:330px; overflow: auto; overflow-y: scroll">
                        <ul class="list-unstyled follows">
                            <li *ngFor="let user of usersdata.followersList">
                                <div class="row" style="vertical-align: center;">
                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto" >
                                        <img src="{{'http://localhost:7860/public/profile image/'+user.img}}" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                    </div>
                                    <div class="col-md-7 col-sm-4 ml-auto">
                                       <h4>{{user.name}}<br/><br/>{{user.username}}</h4> 
                                    </div>
                                    <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                        <div class="form-check" >
                                          <label class="form-check-label">
                                            <input class="form-check-input"  type="checkbox" value="" checked="">
                                            <span class="form-check-sign" style="background-color: green;"></span>
                                          </label>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </li>
                            <li *ngIf="!usersdata.followersList">
                                <h3 class="text-muted">Not followers yet :(</h3>
                                <br>
                                <button class="btn btn-warning btn-round" [routerLink]="['/users']" routerLinkActive="router-link-active" >Find Friends </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div  [hidden]="toogleProp2"><br>
                <div class="row following" id="follows">
                    <div class="col-md-6 ml-auto mr-auto" style="height: 330px; overflow: auto; overflow-y: scroll">
                        <ul class="list-unstyled follows">
                            <li *ngFor="let user of usersdata.followingList">
                                <div class="row" style="vertical-align: center;">
                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto" >
                                        <img src="{{'http://localhost:7860/public/profile image/'+user.img}}" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                    </div>
                                    <div class="col-md-7 col-sm-4 ml-auto">
                                       <h4>{{user.name}}<br/><br/>{{user.username}}</h4> 
                                    </div>
                                    <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                        <div class="form-check" >
                                          <label class="form-check-label">
                                            <input class="form-check-input"  type="checkbox" value="" checked="">
                                            <span class="form-check-sign" style="background-color: green;"></span>
                                          </label>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </li>
                            <li *ngIf="!usersdata.followersList">
                                <h3 class="text-muted">Not followers yet :(</h3>
                                <br>
                                <button class="btn btn-warning btn-round" [routerLink]="['/users']" routerLinkActive="router-link-active" >Find Friends </button>
                            </li>
                        </ul>
                    </div>
                </div>
             </div>
           </div>
            <br><hr>
            <br/>
            <div>
                <div class="row">
                    <div class="col sm" *ngFor="let post of usersdata.post">
                        <div class="card" style="width: 310px">
                            <a [routerLink]="['/post', post._id]" routerLinkActive="router-link-active" >

                            <img class="card-img-top" src="{{'http://localhost:7860/public/posts/'+post.postUrl}}"  height="250"alt="Card image">
                           
                            </a>
                            <div class="card-body">
                                <img class="ui  avatar image" src="{{'http://localhost:7860/public/profile image/'+usersdata.img}}">
                                <span class="card-title"> <b>{{usersdata.name}}</b> </span>
                            <br><br><p class="card-text"> <i>{{post.caption}}</i></p>
                              <hr/>

                              <div class="ui labeled button"   tabindex="0">
                                <div    (click)= "toggle(post._id)"  [ngClass]="!post.likedBy.indexOf(usersdata.username) ? 'ui red button' : 'ui red basic button' ">
                                    <i class="far fa-heart"></i> Like
                                </div> 
                                <a  class="ui basic red left pointing label">
                                  {{post.likes}}
                                </a>
                              </div>
                             
                              <div class="ui labeled button" tabindex="0">
                                <div (click)="toggle2(post._id)" [ngClass]="!post.dislikedBy.indexOf(usersdata.username) ? 'ui black button' : 'ui black basic button' ">
                                    <i class="fas fa-heart-broken"></i> DisLike 
                                </div>
                                <a class="ui basic left pointing black label">
                                    {{post.dislikes}}
                                  </a>
                              </div>
                              <br><br>
                          <button (click)=deletePost(post._id) class="ui right floated basic black button"> <i class="fas fa-trash fa-2x "></i></button>
                            </div>
                          </div>
                        </div>
                </div>
            </div>
            
        
            
        </div>
    </div>
</div>
