<div class="wrapper">
    <div class="page-header" style="background-image: url('https://i.redd.it/o8dlfk93azs31.jpg');">

    

        <div class="container">

            <div class="row mt-5">
                <div class="col-lg-2">
                    <input type="text" class="form-control" placeholder="Message">
                    
                </div>
                
                <div class="d-block col-lg-10">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                </div>
            </div>

            <div class="row mt-5">

                <div class="col-lg-2">
                    <img src="" alt="DP 1" class="rounded float-left">

                </div>
                
                <div class="col-lg-8">
                    <input type="text" class="form-control" placeholder="User's Name">
                    
                </div>

                <div class="col-lg-2">
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                </div>

            </div>

            <div class="row mt-5">

                <div class="col-lg-2">
                    <img src="" alt="DP 1" class="rounded float-left">

                </div>
                
                <div class="col-lg-8">
                    <input type="text" class="form-control" placeholder="User's Name">
                    
                </div>

                <div class="col-lg-2">
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                </div>

            </div>

            <div class="row mt-5">

                <div class="col-lg-2">
                    <img src="" alt="DP 1" class="rounded float-left">

                </div>
                
                <div class="col-lg-8">
                    <input type="text" class="form-control" placeholder="User's Name">
                    
                </div>

                <div class="col-lg-2">
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                </div>

            </div>

            <div class="row mt-5">

                <div class="col-lg-2">
                    <img src="" alt="DP 1" class="rounded float-left">

                </div>
                
                <div class="col-lg-8">
                    <input type="text" class="form-control" placeholder="User's Name">
                    
                </div>

                <div class="col-lg-2">
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                </div>

            </div>

            <div class="row mt-5">

                <div class="col-lg-2">
                    <img src="" alt="DP 1" class="rounded float-left">

                </div>
                
                <div class="col-lg-8">
                    <input type="text" class="form-control" placeholder="User's Name">
                    
                </div>

                <div class="col-lg-2">
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                </div>

            </div>

            <div class="row mt-5">

                <div class="col-lg-2">
                    <img src="" alt="DP 1" class="rounded float-left">

                </div>
                
                <div class="col-lg-8">
                    <input type="text" class="form-control" placeholder="User's Name">
                    
                </div>

                <div class="col-lg-2">
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                </div>

            </div>
        </div>
        
       
    