<div class="wrapper">
    <div class="page-header" >
        <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                      <div class="card fadeInRight card-register">
                          <h3 class="title">ADD POST</h3>
                          <form class="register-form"  #uploadpostForm = "ngForm"  (ngSubmit) = onClickSubmit(uploadpostForm.value) enctype="multipart/form-data">
                            <ngb-alert *ngIf="httpError" [type]="errorType" [class]="alertClass" (click)="close()"> {{errorMsg}} </ngb-alert>

                            <img class="ui centered small  bordered image" [src] = "url" >
                            <label>Select Picture</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="nc-icon nc-image"></i>
                                </span>
                              </div>
                                 <input required ngModel name="image" #image="ngModel" (change)="onselectFile($event)" (change)="selectImage($event)" type="file" class="form-control" placeholder="Select image" accept="image/*"  (focus)="focus=true" (blur)="focus=false" >
                            </div>
                            
            
                            <label>Caption</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                              <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-pencil-alt"></i>
                                </span>
                              </div>
                              <textarea ngModel name="caption" #caption="ngModel" class="form-control" rows="3" placeholder="Write Something..."></textarea>
                            </div>

                                <label>Tag Friends </label>
                                <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text">
                                        <i class="fas fa-user-tag"></i>
                                      </span>
                                    </div>
                                    <input  ngModel name="Tagname" #Tagname="ngModel" type="text" class="form-control" placeholder="User Name " (focus)="focus=true" (blur)="focus=false" >
                                </div>
                                
                                 
                            
                              <button  type="submit" [disabled]="!uploadpostForm.valid" class="btn btn-danger btn-block btn-round">post</button>
                          </form>
                          
                      </div>
                    </div>
                </div>
                <div class="footer register-footer text-center">
                    <h6>&copy;{{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by BeSocial </h6>
                </div>
            </div>
    </div>
</div>
