
.card{
    background-color: rgba(9, 8, 36, 0.5);
    border: 2px solid white;
    border-radius: 5px;
    
}
::placeholder{
    color : rgb(19, 18, 18)
}

input.ng-touched.ng-invalid{
    border: 1px solid red ;
    box-shadow: 0 0 13px inset rgba(255, 0, 0, 0.671)
}

img{
    border-style: solid;
    border-color: white;
}
.page-header
{    background: #5433FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #A5FECB, #20BDFF, #5433FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #A5FECB, #20BDFF, #5433FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}    